<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/chat-settings']" routerDirection="forward">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ otherUserProfile?.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (tap)="contentMouseDown($event)">
  <app-chat-bubble
    [messages]="messages"
    [otherUserProfile]="otherUserProfile"
    [currentUserProfile]="currentUserProfile"
  ></app-chat-bubble>
</ion-content>

<ion-footer (touchstart)="footerTouchStart($event)">
  <ion-toolbar>
    <ion-row align-items-center>
      <ion-col size="1">
        <ion-buttons>
          <ion-button class="toolbar-button" (touchstart)="cameraService.changePicture($event)">
            <ion-icon name="images"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>

      <ion-col style="padding-right: 0px">
        <textarea
          class="no-outline"
          (ngModelChange)="textAreaChange()"
          autosize
          rows="1"
          [maxRows]="10"
          [(ngModel)]="message"
          placeholder="Write your message"
        >
        </textarea>
      </ion-col>

      <ion-col size="1">
        <ion-buttons>
          <ion-button
            class="toolbar-button"
            fill="clear"
            [disabled]="!message"
            slot="icon-only"
            color="primary"
            (touchstart)="sendMessage($event)"
          >
            <ion-icon mode="md" name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
