<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/profile/' + userProfile?.uid]" routerDirection="forward">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/chat-list']" routerDirection="forward">
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Upcoming Events</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar class="searchbar" animated [(ngModel)]="searchTerm" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-refresher *ngIf="upcomingEvents" (ionRefresh)="getEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding>
    <ion-row>
      <ion-col
        *ngFor="let event of upcomingEvents"
        size-xs="12"
        size-sm="6"
        size-lg="4"
        size-xl="3"
      >
        <ion-card
          no-margin
          tappable
          [routerLink]="['/event-details', event.id]"
          routerDirection="forward"
          class="no-outline"
        >
          <img
            alt=""
            [defaultImage]="placeholderImage"
            [lazyLoad]="event.imageUrl"
            [errorImage]="event.imageUrl"
            class="original cover-image"
          />
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="date" text-center align-self-center size="2">
                  <ion-text color="danger">
                    {{ event.startDateTime | date: 'MMM d EEE' }}
                    <div class="vertical-line"></div>
                  </ion-text>
                </ion-col>
                <ion-col size="7">
                  <h2 class="text12 fw700 text-black">{{ event.name }}</h2>
                  <p>City: {{ event.city }}</p>
                  <p>
                    Time: {{ event.startDateTime | date: 'h:mm a' }} -
                    {{ event.endDateTime | date: 'h:mm a' }}
                  </p>
                </ion-col>
                <ion-col class="book" text-end align-self-center size="3">
                  <ion-button color="danger">Book</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngFor="let i of [1, 2, 3]" size-xs="12" size-sm="6" size-lg="4" size-xl="3">
        <ion-card no-margin *ngIf="!upcomingEvents">
          <img alt="" [src]="placeholderImage" class="original cover-image" />
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="date" text-center align-self-center size="2">
                  <ion-text color="danger">
                    <ion-skeleton-text class="skeleton11"></ion-skeleton-text>
                    <ion-skeleton-text class="skeleton11"></ion-skeleton-text>
                    <div class="vertical-line"></div>
                  </ion-text>
                </ion-col>
                <ion-col size="7">
                  <ion-skeleton-text class="skeleton18" width="175px"></ion-skeleton-text>
                  <ion-skeleton-text class="skeleton14" width="140px"></ion-skeleton-text>
                  <ion-skeleton-text class="skeleton14" width="110px"></ion-skeleton-text>
                </ion-col>
                <ion-col class="book" text-end align-self-center size="3">
                  <ion-button color="danger">Book</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button
      color="secondary"
      [routerLink]="['/create-event']"
      routerDirection="forward"
      class="no-outline"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
