<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Battle Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="container">
      <ion-col
        *ngFor="let category of eventService?.event?.participationCategories"
        size="6"
        [routerLink]="['/battles-list']"
        class="no-outline"
      >
        <div class="img-background">
          <!-- <img src="https://i.ytimg.com/vi/_3DJXAD-8d4/maxresdefault.jpg" class="category-image" /> -->
          <div class="centered">{{ category.name }}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
