<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Track Event</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="activeUsers">
        <ion-label>Active Users</ion-label>
      </ion-segment-button>
      <ion-segment-button value="results">
        <ion-label>Results</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'activeUsers'">
      <ion-item (click)="showActiveUsers('Interested Users', 'interested')" button>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>Interested Users</ion-label>
        <ion-chip color="secondary">
          <ion-label>{{ activeUsersCount?.interested || 0 }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item (click)="showActiveUsers('Going Users', 'going')" button>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>Going Users</ion-label>
        <ion-chip color="secondary">
          <ion-label>{{ activeUsersCount?.going || 0 }} </ion-label>
        </ion-chip>
      </ion-item>
      <ion-item (click)="showActiveUsers('Participants', 'participants')" button>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>Participants</ion-label>
        <ion-chip color="secondary">
          <ion-label>{{ activeUsersCount?.participants || 0 }}</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item (click)="showActiveUsers('Participants Requests', 'participantsRequest')" button>
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>Participation Requests</ion-label>
        <ion-chip color="secondary">
          <ion-label>{{ activeUsersCount?.participantsRequest || 0 }} </ion-label>
        </ion-chip>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
