<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" color="danger" class="glow" name="radio-button-on"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="popBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ event?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="gray-background">
  <ion-refresher *ngIf="event" (ionRefresh)="getEvent($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="event" no-padding>
    <ion-row>
      <!-- <ion-col size-xs="12" size-sm="6" size-lg="4" size-xl="3" no-padding> -->
      <ion-col no-padding>
        <ion-card no-margin tappable class="no-outline event-card">
          <img
            alt=""
            defaultImage="/assets/placeholder.jpg"
            [lazyLoad]="event.imageUrl"
            [errorImage]="event.imageUrl"
            class="original cover-image"
          />
          <ion-card-content no-padding>
            <ion-grid no-padding>
              <ion-row class="date-time">
                <ion-col class="fw700" text-center align-self-center size="2">
                  <ion-text color="danger">
                    {{ event.startDateTime | date: 'MMM d EEE' }}
                  </ion-text>
                  <div class="vertical-line"></div>
                </ion-col>
                <ion-col size="7">
                  <h2 class="text12 fw700 text-black">{{ event.name }}</h2>
                  <p>City: {{ event.city }}</p>
                  <p>
                    Time: {{ event.startDateTime | date: 'h:mm a' }} -
                    {{ event.endDateTime | date: 'h:mm a' }}
                  </p>
                </ion-col>
                <ion-col class="book" text-end align-self-center size="3">
                  <ion-button color="danger">Book</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card no-margin>
          <ion-row text-center class="white-background">
            <ion-col>
              <div *ngIf="!isInterested" (click)="addInterestedOrGoing('interested')" tappable>
                <i class="far fa-star text15" style="color: #989aa2; margin: 8px 0px;"></i>
                <div style="margin-bottom: 4px">INTERESTED</div>
              </div>
              <div *ngIf="isInterested" (click)="removeInterestedOrGoing('interested')">
                <i class="fas fa-star text15" style="color: #ff0062; margin: 8px 0px;"></i>
                <div class="fw700 text-black" style="margin-bottom: 4px">INTERESTED</div>
              </div>
            </ion-col>
            <ion-col>
              <div *ngIf="!isGoing" (click)="addInterestedOrGoing('going')" tappable>
                <i class="far fa-check-circle text15" style="color: #989aa2; margin: 8px 0px"></i>
                <div style="margin-bottom: 4px">GOING</div>
              </div>
              <div *ngIf="isGoing" (click)="removeInterestedOrGoing('going')">
                <i class="fas fa-check-circle text15" style="color: #ff0062; margin: 8px 0px;"></i>
                <div class="fw700 text-black" style="margin-bottom: 4px">GOING</div>
              </div>
            </ion-col>
          </ion-row>
          <hr />
          <ion-row class="time-location text-black">
            <ion-col size="1" text-center>
              <ion-icon class="text15" name="md-time"></ion-icon>
            </ion-col>
            <ion-col>
              {{ event.startDateTime | date: 'mediumDate' }} -
              {{ event.endDateTime | date: 'mediumDate' }}
            </ion-col>
          </ion-row>
          <ion-row class="time-location text-black">
            <ion-col size="1" text-center>
              <ion-icon class="text15" name="pin"></ion-icon>
            </ion-col>
            <ion-col>
              {{ event.city }} <br />
              <div class="location text-gray">{{ event.location }}</div>
            </ion-col>
          </ion-row>
          <hr />
          <ion-row text-center class="fw700">
            <ion-col
              tappable
              padding
              class="click text-black no-outline text1"
              *ngIf="interestedUsersCount || interestedUsersCount == 0"
              (click)="showInterestedUsers()"
            >
              Interested ({{ interestedUsersCount || 0 }})
            </ion-col>
            <ion-col *ngIf="!interestedUsersCount && interestedUsersCount != 0">
              <ion-spinner></ion-spinner>
            </ion-col>
            <ion-col
              padding
              tappable
              class="click text-black no-outline text1"
              *ngIf="goingUsersCount || goingUsersCount == 0"
              (click)="showGoingUsers()"
            >
              Going ({{ goingUsersCount || 0 }})
            </ion-col>
            <ion-col *ngIf="!goingUsersCount && goingUsersCount != 0">
              <ion-spinner></ion-spinner>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card no-margin class="no-outline">
          <ion-card-header no-padding padding-top padding-start>
            <ion-card-subtitle color="primary" class="text1">Details</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="text-black text09" style="white-space: pre-wrap">
            {{ event.description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" class="no-outline">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="instagram">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="whatsapp">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
