<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-add"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ userProfile?.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="userProfile" (ionRefresh)="getUserProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="profile" *ngIf="userProfile">
    <div>
      <img
        alt=""
        defaultImage="/assets/default-user.jpeg"
        [lazyLoad]="userProfile?.profilePhoto"
        errorImage="/assets/default-user.jpeg"
        class="cover-image"
        (click)="showPhoto(userProfile?.profilePhoto, userProfile.fullName)"
      />
      <div>
        <h3>{{ userProfile?.fullName }}</h3>
        <ion-button size="small" color="success" mode="md" class="follow-btn">
          <ion-icon name="person"></ion-icon>100
        </ion-button>
      </div>
      <p>{{ userProfile?.bio }}</p>
    </div>
  </div>
</ion-content>
