<ion-header>
  <ion-toolbar color="black">
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-back-button (click)="popBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ userProfile?.username }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="userProfile" (ionRefresh)="getUserProfile($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="userProfile">
    <ion-row>
      <ion-col size="3.5">
        <img
          alt=""
          defaultImage="/assets/default-user.jpeg"
          [lazyLoad]="userProfile?.profilePhoto"
          errorImage="/assets/default-user.jpeg"
          class="cover-image square-image"
        />
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <h3 class="text12 fw700" no-margin>{{ userProfile?.fullName }}</h3>
            <p class="text-gray" no-margin>{{ userProfile?.username }}</p>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-buttons>
              <ion-button
                size="small"
                color="secondary"
                [routerLink]="['/search-user']"
                routerDirection="forward"
              >
                <ion-icon *ngIf="uid === currentUserProfile?.uid" name="person-add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row align-items-end>
          <ion-col no-padding>
            <ion-button
              *ngIf="uid !== currentUserProfile?.uid && !isFollowing"
              size="small"
              (click)="follow()"
            >
              FOLLOW
            </ion-button>
            <ion-button
              *ngIf="uid !== currentUserProfile?.uid && isFollowing"
              size="small"
              (click)="unfollow()"
            >
              FOLLOWING
            </ion-button>
            <ion-button
              *ngIf="uid === currentUserProfile?.uid"
              size="small"
              (click)="editProfile()"
            >
              EDIT PROFILE
            </ion-button>
            <ion-button
              *ngIf="uid !== currentUserProfile?.uid"
              size="small"
              color="medium"
              [routerLink]="['/user-chats/' + uid]"
              routerDirection="forward"
            >
              MESSAGE
            </ion-button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-buttons>
              <ion-button size="small" color="medium" fill="clear">
                <ion-icon name="more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row text-center margin-vertical padding-bottom class="user-stats-section">
      <ion-col (click)="showModal()">
        <span class="stat-value fw700">1553</span>
        <span class="stat-name text-gray" padding-bottom>Likes</span>
      </ion-col>
      <ion-col (click)="showFollowers()">
        <span class="stat-value fw700">{{ followersCount || 0 }}</span>
        <span class="stat-name text-gray">Followers</span>
      </ion-col>
      <ion-col (click)="showFollowings()">
        <span class="stat-value fw700">{{ followingsCount || 0 }}</span>
        <span class="stat-name text-gray">Following</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-header class="text-black fw700 about">
          About
        </ion-card-header>
        <ion-card-content class="text-black about-content">
          {{ userProfile?.bio || "Hey! I'm using five elements." }}
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-segment [(ngModel)]="type">
          <ion-segment-button value="skills">
            <ion-icon name="snow"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="posts">
            <ion-icon name="images"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="titles">
            <ion-icon name="trophy"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <div [ngSwitch]="type">
      <ion-row justify-content-between *ngSwitchCase="'posts'">
        <ion-col *ngIf="posts && posts?.length > 0" no-padding>
          <ion-card-header
            class="text-black fw700 no-outline"
            no-padding
            padding-top
            padding-start
            [routerLink]="'/user-posts/' + uid"
            routerDirection="forward"
          >
            Photos
            <span class="see-all">See all</span>
          </ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let post of posts" size="4">
                <img
                  alt=""
                  defaultImage="/assets/gray-placeholder.png"
                  [lazyLoad]="post?.thumbnail || post?.imageUrl"
                  errorImage="/assets/gray-placeholder.png"
                  class="cover-image square-image"
                />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <h6 *ngIf="!posts || posts?.length === 0" class="no-title">No Photos</h6>
      </ion-row>

      <ion-row justify-content-between *ngSwitchCase="'titles'">
        <ion-col *ngIf="titles && titles?.length > 0" no-padding>
          <ion-card-header class="text-black fw700" no-padding padding-top padding-start>
            Titles
            <span class="see-all">See all</span>
          </ion-card-header>
          <ion-list class="titles-list">
            <ion-item *ngFor="let title of titles">
              <ion-avatar slot="start">
                <img
                  alt=""
                  defaultImage="/assets/gray-placeholder.png"
                  [lazyLoad]="title?.imageUrl"
                  errorImage="/assets/gray-placeholder.png"
                  class="cover-image skeleton-color"
                />
              </ion-avatar>
              <ion-label>
                <h3 class="full_name">{{ title.title }}</h3>
                <h5 class="user_name">{{ title.description }}</h5>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <h6 *ngIf="!titles || titles?.length === 0" class="no-title">No Titles</h6>
      </ion-row>
    </div>
  </ion-grid>

  <ion-grid *ngIf="!userProfile" slot="fixed">
    <ion-row>
      <ion-col size="3.5" size-sm="3" size-lg="2" size-xl="2">
        <img alt="" src="assets/gray-placeholder.png" class="square-image skeleton-color" />
      </ion-col>
      <ion-col>
        <ion-row justify-content-between>
          <ion-col>
            <ion-skeleton-text class="skeleton20" width="135px"></ion-skeleton-text>
            <ion-skeleton-text class="skeleton14" width="170px"></ion-skeleton-text>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-buttons>
              <ion-button size="small" color="secondary">
                <ion-icon *ngIf="uid === currentUserProfile?.uid" name="person-add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row align-items-end>
          <ion-col no-padding>
            <ion-button *ngIf="uid !== currentUserProfile?.uid" size="small">FOLLOW</ion-button>
            <ion-button *ngIf="uid === currentUserProfile?.uid" size="small">
              EDIT PROFILE
            </ion-button>
            <ion-button size="small" color="medium" *ngIf="uid !== currentUserProfile?.uid">
              MESSAGE
            </ion-button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-buttons>
              <ion-button size="small" color="medium" fill="clear">
                <ion-icon name="more"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row text-center margin-vertical padding-bottom class="user-stats-section">
      <ion-col>
        <ion-skeleton-text class="skeleton12"></ion-skeleton-text>
        <span class="stat-name text-gray" padding-bottom>Likes</span>
      </ion-col>
      <ion-col>
        <ion-skeleton-text class="skeleton12"></ion-skeleton-text>
        <span class="stat-name text-gray">Followers</span>
      </ion-col>
      <ion-col>
        <ion-skeleton-text class="skeleton12"></ion-skeleton-text>
        <span class="stat-name text-gray">Following</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-header class="text-black fw700 about" no-padding padding-top padding-start>
          About
        </ion-card-header>
        <ion-card-content class="text-black about-content">
          <ion-skeleton-text class="skeleton12" width="160px"></ion-skeleton-text>
          <ion-skeleton-text class="skeleton12" width="200px"></ion-skeleton-text>
          <ion-skeleton-text class="skeleton12" width="240px"></ion-skeleton-text>
          <ion-skeleton-text class="skeleton12" width="280px"></ion-skeleton-text>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row justify-content-between>
      <ion-col no-padding>
        <ion-card-header class="text-black fw700" no-padding padding-top padding-start>
          Photos
          <span class="see-all">See all</span>
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" size="4">
              <img alt="" src="assets/gray-placeholder.png" class="square-image skeleton-color" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="uid === currentUserProfile?.uid">
    <ion-fab-button color="secondary" class="no-outline">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="tertiary" [routerLink]="['/create-post']" routerDirection="forward">
        <ion-icon name="images"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" [routerLink]="['/create-title']" routerDirection="forward">
        <ion-icon name="trophy"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
