.sc-ion-buttons-ios-s ion-icon[slot='icon-only'] {
  font-size: 25px;
}

.profile-image {
  border-radius: 8px;
  min-height: 90px;
}

.post-image {
  border-radius: 8px;
  min-height: 90px;
}

.stat-value {
  display: block;
  padding-bottom: 5px;
  color: var(--ion-color-dark-shade);
  font-weight: 500;
  font-size: 18px;
}

.state-name {
  font-size: 16px;
  color: var(--ion-color-medium, #989aa2);
}

ion-card-header {
  font-size: 18px;
}

ion-card-content {
  font-size: 14px;
  padding-right: 0px;
}

.user-stats-section {
  --ion-grid-column-padding: 12px;
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.see-all {
  float: right;
  padding-right: 10px;
  font-weight: normal;
  color: var(--ion-color-secondary);
}

.profile {
  background: var(--ion-color-primary, #1c1c1c);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-top: 5px;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
  }
  ion-button.button-small {
    font-size: 10px;
    margin: 0px;
  }

  div {
    text-align: center;
  }
  div h3 {
    display: inline-block;
    text-align: center;
    margin: 5px 5px 5px 0px;
    font-size: 18px;
    color: #ffffff;
  }
  p {
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
    font-size: 13px;
  }
}
