.sc-ion-buttons-ios-s ion-icon[slot='icon-only'] {
  font-size: 25px;
}

.square-image {
  border-radius: 8px;
  height: 27vw;
  width: 100%;
  background-size: cover;
}

.stat-value {
  display: block;
  padding-bottom: 5px;
  color: var(--ion-color-dark-shade);
  font-weight: 500;
  font-size: 18px;
}

.about {
  padding: 15px 0px 0px 5px;
}

.state-name {
  font-size: 16px;
  color: var(--ion-color-medium, #989aa2);
}

ion-card-header {
  font-size: 18px;
}

ion-card-content {
  font-size: 14px;
  padding-right: 0px;
}

ion-card-content.about-content {
  line-height: 1.3;
  padding: 10px 0px 15px 5px;
}

.user-stats-section {
  --ion-grid-column-padding: 12px;
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.see-all {
  float: right;
  padding-right: 10px;
  font-weight: normal;
  color: var(--ion-color-secondary);
}

.titles-list {
  margin-top: 10px;
}

.no-title {
  margin: 20px auto;
}
