.sc-ion-buttons-ios-s ion-icon[slot='icon-only'] {
  font-size: 25px;
}
.profile {
  background: var(--ion-color-primary, #1c1c1c);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-top: 5px;
    height: 96px;
    width: 96px;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
  }
  ion-button.button-small {
    font-size: 10px;
    margin: 0px;
  }

  div {
    text-align: center;
  }
  div h3 {
    display: inline-block;
    text-align: center;
    margin: 5px 5px 5px 0px;
    font-size: 18px;
    color: #ffffff;
  }
  p {
    color: #ffffff;
    margin-top: 0px;
    text-align: center;
    font-size: 13px;
  }
}
