<ion-tabs (ionTabsWillChange)="tabChange($event)">
  <ion-tab-bar>
    <ion-tab-button tab="upcoming-events">
      <ion-icon class="far fa-calendar-alt" name="calendar"></ion-icon>
      <!-- <ion-label>Events</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <!-- <ion-tab-button tab="notifications"> -->
    <!-- <ion-icon class="far fa-bell" name="notifications-outline"></ion-icon> -->
    <!-- <ion-label>Notifications</ion-label> -->
    <!-- </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
