<ion-tabs (ionTabsWillChange)="tabChanged($event)">
  <ion-header>
    <ion-toolbar color="primary-two">
      <ion-buttons slot="secondary">
        <ion-button [routerLink]="['/profile/' + userProfile?.uid]" routerDirection="forward">
          <ion-icon slot="icon-only" name="contact"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ navbarTitle }}</ion-title>
    </ion-toolbar>
    <ion-tab-bar color="primary-two">
      <ion-tab-button tab="upcoming-events">
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="chat-list">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-header>
</ion-tabs>
