<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ event.name }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="proceed()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Participation Categories</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let category of event?.participationCategories">
      <ion-label>{{ category.name }} - Rs.{{ category.fees }}</ion-label>
      <ion-checkbox color="secondary" slot="end" [(ngModel)]="category.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-padding">
  <ion-toolbar class="ion-no-padding">
    <ion-button class="ion-no-margin" expand="full" color="secondary" (click)="proceed()" size="large">
      Proceed
    </ion-button>
  </ion-toolbar>
</ion-footer>