<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!comments" class="ion-text-center ion-padding-top">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <div *ngFor="let comment of comments" (press)="showActionSheet(post.id, comment)">
      <ion-item *ngIf="comment.userProfile" class="ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-avatar slot="start" [routerLink]="['profile/' + comment?.userProfile?.uid]" class="no-outline">
          <img alt="" class="comment-image" defaultImage="/assets/default-user.jpeg"
            [lazyLoad]="comment.userProfile.thumbnail || comment.userProfile.profilePhoto"
            errorImage="/assets/default-user.jpeg" />
        </ion-avatar>
        <ion-label>
          <h2 [routerLink]="['profile/' + comment?.userProfile?.uid]" class="no-outline">
            {{ comment.userProfile.username }}
          </h2>
          <p class="comment ion-text-wrap ion-no-margin">{{ comment.comment }}</p>
          <p class="ion-text-right">{{ comment.timeStamp | date: 'MMM d' }} at {{ comment.timeStamp | date: 'h:mm a' }}
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-footer (click)="footerTouchStart($event)">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="1" class="ion-no-padding" style="padding-top: 5px">
        <img alt="" style="border-radius: 50%" class="cover-image skeleton-color"
          defaultImage="/assets/default-user.jpeg"
          [lazyLoad]="userService?.currentUserProfile?.thumbnail || userService?.currentUserProfile?.profilePhoto"
          [errorImage]="userService?.currentUserProfile?.profilePhoto" />
      </ion-col>

      <ion-col style="padding-right: 0px; padding-left: 0px">
        <textarea class="no-outline" (ngModelChange)="textAreaChange()" autosize rows="1" [maxRows]="10"
          [(ngModel)]="comment" placeholder="Write your comment">
        </textarea>
      </ion-col>

      <ion-col size="1" style="padding-left: 0px">
        <ion-buttons>
          <ion-button class="toolbar-button" fill="clear" [disabled]="!comment" color="primary"
            (touchstart)="addComment($event)">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>