// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** blue **/
  .ion-color-blue {
    --ion-color-base: #3880ff;
    --ion-color-base-rgb: 56, 128, 255;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #3171e0;
    --ion-color-tint: #4c8dff;
  }

  /** facebook **/
  .ion-color-facebook {
    --ion-color-base: #3b5998;
    --ion-color-base-rgb: 56, 128, 255;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #344e86;
    --ion-color-tint: #4f6aa2;
  }

  /** twitter **/
  .ion-color-twitter {
    --ion-color-base: #00aced;
    --ion-color-base-rgb: 0, 172, 237;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #0087d1;
    --ion-color-tint: #1ab4ef;
  }

  /** google **/
  .ion-color-google {
    --ion-color-base: #ea4437;
    --ion-color-base-rgb: 234, 68, 55;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #ce3c30;
    --ion-color-tint: #ec574b;
  }

  /** instagram **/
  .ion-color-instagram {
    --ion-color-base: #e4405f;
    --ion-color-base-rgb: 228, 64, 95;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #c93854;
    --ion-color-tint: #e7536f;
  }

  /* whatsapp */
  .ion-color-whatsapp {
    --ion-color-base: #075e54;
    --ion-color-base-rgb: 7, 94, 84;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #06534a;
    --ion-color-tint: #206e65;
  }

  /** black **/
  .ion-color-black {
    --ion-color-base: #1c1c1c;
    --ion-color-base-rgb: 28, 28, 28;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #191919;
    --ion-color-tint: #333333;
  }

  /** white **/
  .ion-color-white {
    --ion-color-base: #ffffff;
    --ion-color-base-rgb: 255, 255, 255;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #e0e0e0;
    --ion-color-tint: #ffffff;
  }

  --ion-color-primary: #1c1c1c;
  --ion-color-primary-rgb: 28, 28, 28;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #191919;
  --ion-color-primary-tint: #333333;

  --ion-color-secondary: #ff0062;
  --ion-color-secondary-rgb: 255, 0, 98;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e00056;
  --ion-color-secondary-tint: #ff1a72;

  --ion-color-tertiary: #00afff;
  --ion-color-tertiary-rgb: 0, 175, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #009ae0;
  --ion-color-tertiary-tint: #1ab7ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ffed11;
  --ion-color-warning-rgb: 255, 237, 17;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0d10f;
  --ion-color-warning-tint: #ffef29;

  --ion-color-danger: #f4344f;
  --ion-color-danger-rgb: 244, 52, 79;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d72e46;
  --ion-color-danger-tint: #f54861;

  --ion-color-lightest: #ffffff;
  --ion-color-lightest-rgb: 255, 255, 255;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-shade-rgb: 215, 216, 218;
  --ion-color-light-tint: #f5f6f9;
  --ion-color-light-tint-rgb: 245, 246, 249;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-shade-rgb: 134, 136, 143;
  --ion-color-medium-tint: #a2a4ab;
  --ion-color-medium-tint-rgb: 162, 164, 171;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-shade-rgb: 30, 32, 35;
  --ion-color-dark-tint: #383a3e;
  --ion-color-dark-tint-rgb: 56, 58, 62;
  --ion-color-darkest: #000000;
  --ion-color-darkest-rgb: 0, 0, 0;

  --ion-font-family: 'Rubik', sans-serif;
  --app-background: #ffffff;
  --app-background-shade: var(--ion-background-color-step-50, #f2f2f2);
  --app-background-alt: var(--ion-color-primary);
  --app-background-alt-shade: var(--ion-color-primary-shade);
  --app-narrow-margin: 12px;
  --app-fair-margin: 16px;
  --app-broad-margin: 20px;
  --app-narrow-radius: 4px;
  --app-fair-radius: 8px;
  --app-broad-radius: 12px;
}
