<ion-content class="ion-padding animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Logo -->
    <div class="ion-text-center ion-padding-horizontal animated fadeInDown">
      <div class="logo"></div>
      <h4 class="ion-text-center ion-no-margin">
        <ion-text color="light" class="fw700">
          Skillocial
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginForm" class="list-form">
      <ion-item class="ion-no-padding" class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p class="text08" *ngIf="formErrors.email">
        <ion-text color="warning">{{ formErrors.email }}</ion-text>
      </p>

      <ion-item class="ion-no-padding" class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p class="text08" *ngIf="formErrors.password">
        <ion-text color="warning">{{ formErrors.password }}</ion-text>
      </p>
    </form>

    <p class="ion-text-right paz" (click)="forgotPassword()">
      <ion-text color="light">
        <strong>Forgot Pass?</strong>
      </ion-text>
    </p>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="secondary" (click)="login()"
        [disabled]="!loginForm.valid">
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>

      <p class="ion-text-center">
        <ion-text color="light">
          Or Signin with:
        </ion-text>
      </p>

      <app-social-login [type]="'login'"></app-social-login>
    </div>

    <!-- Other links -->
    <div class="ion-text-center ion-margin-top">
      <span [routerLink]="['/register']" class="paz" class="no-outline">
        <ion-text color="light"> New here? <strong>Sign Up</strong> </ion-text>
      </span>
    </div>
  </div>
</ion-content>