<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button [routerLink]="['/profile/' + userProfile?.uid]">
        <ion-icon slot="icon-only" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/chat-list']">
        <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher
    *ngIf="userProfile"
    (ionRefresh)="getCurrentUserProfile($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid no-padding>
    <ion-row>
      <ion-col>
        <ion-card no-margin>
          <ion-grid>
            <ion-row *ngIf="userProfile">
              <ion-col size-sm="1" size-xs="2" text-center>
                <ion-avatar [routerLink]="['/profile']" class="no-outline">
                  <img
                    alt=""
                    class="cover-image"
                    defaultImage="/assets/default-user.jpeg"
                    [lazyLoad]="userProfile?.profilePhoto"
                    errorImage="/assets/default-user.jpeg"
                  />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-header
                  [routerLink]="['/profile']"
                  class="fullName no-outline"
                >
                  {{ userProfile?.fullName }}
                </ion-card-header>
                <ion-button
                  color="medium"
                  size="small"
                  fill="clear"
                  class="share-thought-btn"
                >
                  What's on your mind?
                </ion-button>
                <hr />
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!userProfile">
              <ion-col size-sm="1" size-xs="2" text-center>
                <ion-avatar
                  ><img alt="" src="" class="skeleton-color"
                /></ion-avatar>
              </ion-col>
              <ion-col>
                <ion-card-header class="fullName">
                  <ion-skeleton-text
                    class="skeleton18"
                    size="large"
                    width="170px"
                  ></ion-skeleton-text>
                </ion-card-header>
                <ion-skeleton-text
                  class="skeleton14 share-thought-btn"
                  width="135px"
                ></ion-skeleton-text>
                <hr />
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-right no-padding>
                <ion-button color="secondary" style="font-size: inherit">
                  DISCOVER PEERS
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!post" text-center padding-top>
    <ion-spinner></ion-spinner>
  </div>

  <ion-row *ngIf="followings?.length === 0" text-center padding class="no-feed">
    <ion-col text-center>
      <i class="far fa-sad-tear text20"></i>
      <h3 class="no-feed-text">No Feed</h3>
      <p class="start-following-text">
        Start following your favourite artists
      </p>
      <ion-button
        color="secondary"
        expand="block"
        [routerLink]="['/search-user']"
      >
        Get Started
      </ion-button>
    </ion-col>
  </ion-row>

  <app-posts *ngIf="post" [posts]="posts"></app-posts>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button
      color="secondary"
      [routerLink]="['/create-post']"
      class="no-outline"
    >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
