ion-avatar {
  width: 55px;
  height: 55px;
}

ion-card-header {
  padding: 6px 0px 0px 9px;
  color: #414e53;
  font-weight: bold;
  font-size: 17px;
}

.fullName {
  padding: 0px 0px 0px 9px;
}

ion-button.share-thought-btn {
  margin: 0px;
  color: #119081;
  font-weight: bold;
  text-transform: capitalize;
  padding-inline-start: 10px;
}

ion-button.button-small {
  --padding-start: 0px;
}

hr {
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 0px;
}
