<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Breaking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="match-status">
      <ion-col class="ion-text-center">
        Player A won
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="https://i.ytimg.com/vi/_3DJXAD-8d4/maxresdefault.jpg" />
        <h3 class="text1 fw700">Chetan Maharshi</h3>
        <p class="player text08">Player A</p>
      </ion-col>
      <ion-col size="2" class="vs">
        VS
      </ion-col>
      <ion-col class="ion-text-center">
        <img src="https://i.pinimg.com/originals/10/39/f7/1039f7689b7e16c7eaa732493185e2f4.jpg" />
        <h3 class="text1 fw700">Deep Karmokar</h3>
        <p class="player text08">Player B</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-button color="secondary" expand="block">Player A</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block">Player B</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>