<ion-row *ngFor="let post of posts">
  <ion-col no-padding *ngIf="post.userDetails">
    <ion-card no-margin>
      <ion-item lines="none">
        <ion-avatar [routerLink]="['/profile/' + post.userDetails.uid]" class="no-outline" slot="start">
          <img alt="" class="cover-image" [defaultImage]="'assets/gray-placeholder.png'"
            [lazyLoad]="post.userDetails.thumbnail || post.userDetails.profilePhoto"
            [errorImage]="post.userDetails.profilePhoto" />
        </ion-avatar>
        <ion-label>
          <h2 class="full_name text-black no-outline text1" [routerLink]="['/profile/' + post.userDetails.uid]">
            {{ post.userDetails.username }}
          </h2>
          <p class="text-gray">
            {{ post.createdAt | date: 'mediumDate' }} at {{ post.createdAt | date: 'shortTime' }}
          </p>
        </ion-label>
        <ion-buttons>
          <ion-button *ngIf="post.myPost" fill="clear" (click)="presentActionSheet(post)">
            <ion-icon name="more"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <div class="container">
        <img alt="" class="contain-image click" [defaultImage]="post.thumbnail || post.imageUrl"
          [lazyLoad]="post.imageUrl" [errorImage]="post.imageUrl" [useSrcset]="true" offset="100"
          (tap)="likePost(post, $event)" />
      </div>
      <ion-card-content class="text-black" no-padding>
        <ion-row>
          <ion-col class="textual-content text09">
            <div *ngIf="post.textualContent">
              {{ showMore ? post.textualContent : post.textualContent.substring(0, 120) }}
              <div (click)="changeContentLength()" class="text-gray">
                {{ showMore ? 'Read less...' : 'Read more...' }}
              </div>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-right no-padding class="like-counts">
            <ion-button fill="clear" *ngIf="post.likesCount > 0" (click)="showModal(post.likes)" no-margin>
              <i style="margin-right: 0.3em; font-size: 20px; color: #f4344f" class="fas fa-heart icon"></i>
              {{ post.likesCount }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row text-center align-items-center>
        <ion-col no-padding>
          <ion-button fill="clear" (click)="likePost(post)" *ngIf="!post?.isLiking" no-margin>
            <i style="margin-right: 0.3em; font-size: 20px;" class="far fa-heart icon"></i>
            {{ post.likesCount }} Likes
          </ion-button>
          <ion-button fill="clear" (click)="unlikePost(post)" *ngIf="post?.isLiking" no-margin>
            <i class="animated bounceIn fas fa-heart icon"
              style="margin-right: 0.3em; font-size: 20px; color: #f4344f"></i>
            {{ post.likesCount }} Likes
          </ion-button>
        </ion-col>
        <ion-col no-padding>
          <ion-button fill="clear" (click)="openCommentsModal(post)" no-margin>
            <i style="margin-right: 0.3em; font-size: 20px" class="far fa-comment icon"></i>
            {{ post.commentsCount }} Comments
          </ion-button>
        </ion-col>
        <ion-col text-center no-padding>
          <p class="text-gray" no-margin>{{ post.createdAt | amTimeAgo }}</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>

  <ion-col no-padding *ngIf="posts?.length === 0 || !posts || !post.userDetails">
    <ion-card no-margin>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <ion-skeleton-text></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <ion-skeleton-text style="width: 120px; height:14px;"></ion-skeleton-text>
          <ion-skeleton-text style="width: 175px; height:12px;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-skeleton-text style="width: 100%; height:280px; border-radius: 0px;"></ion-skeleton-text>
      <ion-card-content no-padding>
        <ion-row>
          <ion-col>
            <ion-skeleton-text style="width: 90%; height:13px;"></ion-skeleton-text>
            <ion-skeleton-text style="width: 70%; height:13px;"></ion-skeleton-text>
            <ion-skeleton-text style="width: 50%; height:13px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-right no-padding class="like-counts">
            <ion-button fill="clear" no-margin>
              <i style="margin-right: 0.3em; font-size: 20px; color: #f4344f" class="fas fa-heart icon"></i>
              0
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-row text-center align-items-center>
        <ion-col no-padding>
          <ion-button fill="clear" no-margin>
            <i style="margin-right: 0.3em; font-size: 20px; color: #f4344f" class="fas fa-heart icon"></i>
            0 Likes
          </ion-button>
        </ion-col>
        <ion-col no-padding>
          <ion-button fill="clear" no-margin>
            <i style="margin-right: 0.3em; font-size: 20px" class="far fa-comment icon"></i>
            0 Comments
          </ion-button>
        </ion-col>
        <ion-col text-center no-padding>
          <ion-skeleton-text style="width: 90%; height:14px;"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-col>
</ion-row>