.hidden {
  display: none;
}

.icon {
  font-size: 17px;
}

.sc-ion-card-ios-h {
  box-shadow: none;
  margin-bottom: 15px;
}

.like-counts {
  margin-top: -8px;
}

.textual-content {
  padding: 10px 8px 0px 10px;
}
