<ion-grid class="btn-group" *ngIf="type === 'login'">
  <ion-row justify-content-center>
    <ion-col size="5">
      <ion-button shape="round" expand="full" color="facebook" (click)="facebookLogin()">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="5">
      <ion-button shape="round" expand="full" color="google" (click)="googleLogin()">
        <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="btn-group" *ngIf="type === 'register'">
  <ion-row justify-content-center>
    <ion-col size="5">
      <ion-button
        shape="round"
        expand="full"
        fill="outline"
        color="facebook"
        (click)="facebookLogin()"
      >
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button shape="round" expand="full" fill="outline" color="google" (click)="googleLogin()">
        <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
