// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.header-md:after {
  background: none;
}

.contain-image {
  object-fit: contain;
  max-height: 430px;
  background: #d3d3d35e;
}

.cover-image {
  object-fit: cover;
}

.gray-background {
  --background: #f1f1f1;
}

.white-background {
  --background: #fff;
}
.searchbar {
  height: 50px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-padding-top {
  padding-top: 0px;
}

.no-padding-bottom {
  padding-bottom: 0px;
}
.sc-ion-card-ios-h {
  --background: var(--ion-color-primary-contrast, #fff);
}

.sc-ion-card-md-h {
  --background: var(--ion-color-primary-contrast, #fff);
}

.label-stacked.sc-ion-label-ios-h {
  color: #696969;
}

.action-sheet-icon.sc-ion-action-sheet-md {
  color: #1c1c1c;
}

.tax-breakup-alert {
  .alert-wrapper.sc-ion-alert-ios {
    width: 98%;
    max-width: 355px;
    background: #fff;
  }
}

//
ion-item {
  --ion-item-background: transparent;
}

// backgrounds //
.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: var(--ion-color-light);
}

.bg-dark {
  background-color: var(--ion-color-dark);
}

.bg-primary {
  background-color: var(--ion-color-primary);
}

.bg-secondary {
  background-color: var(--ion-color-secondary);
}

.bg-tertiary {
  background-color: var(--ion-color-tertiary);
}

.bg-profile {
  background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
}

.bg-main {
  background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
}

// Helpers //
.w100 {
  width: 100%;
}

.bold,
.fw500 {
  font-weight: 500 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.text08 {
  font-size: 0.8rem;
}

.text09 {
  font-size: 0.9rem;
}

.text1 {
  font-size: 1rem !important;
}

.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text16 {
  font-size: 1.6rem;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #666;
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.text-black {
  color: #000;
}

.text-dark {
  color: var(--ion-color-dark);
}

.skeleton22 {
  line-height: 22px;
}

.skeleton20 {
  line-height: 20px;
}

.skeleton18 {
  line-height: 18px;
}

.skeleton16 {
  line-height: 16px;
}

.skeleton14 {
  line-height: 14px;
}

.skeleton-color {
  background: rgba(var(--background-rgb, var(--ion-text-color-rgb, 0, 0, 0)), 0.065);
}

.skeleton12 {
  line-height: 12px;
}

.full_name {
  margin: 0 0 4px;
  font-size: 16px;
}

.user-image {
  border-radius: var(--page-border-radius, 8px);
}

.user_name {
  margin: 0;
  color: rgba(var(--ion-color-dark-rgb), 0.4);
  font-size: 16px;
}

.no-outline {
  outline: none;
}

.click:active {
  background: rgba(0, 0, 0, 0.2);
}

// menu //
// Menu user profile
ion-toolbar.user-profile {
  .user-avatar {
    width: 68px;
    height: 68px;
  }
  .item-inner {
    border-width: 0;
  }
}

// Custom toolbar (overriding Shadow DOM)
/* ion-toolbar {
  &.ion-color-primary {
    --ion-color-base: linear-gradient(
      135deg,
      var(--ion-color-dark),
      var(--ion-color-primary)
    ) !important;
  }
}
 */

// style for auth pages
.auth-page {
  background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));

  .grid {
    padding: 0;
    .col {
      padding: 0;
    }
  }

  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;
      &:first-of-type {
        border-radius: 2px 0 0 2px;
      }
      &:last-of-type {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .auth-content {
    margin: 0 5%;

    .logo {
      width: 125px;
      height: 120px;
      margin: 0px auto 0px;
      border-radius: 10%;
      background: url('/assets/images/hip-hop.png') no-repeat;
      background-size: 100%;
    }

    .list-form {
      padding: 0;
      margin-bottom: 0;

      ion-item {
        background: none;
        padding: 0;

        &:first-child {
          border-top: none;
        }

        &:after {
          display: none;
        }

        ion-label {
          font-size: 1em;
          color: var(--ion-color-light);
        }

        input {
          color: var(--ion-color-light);
        }
      }
    }
  }
}

// Custom Menu styles (overriding Shadow DOM)
ion-menu {
  ion-header {
    ion-toolbar {
      &.ion-color-dark {
        --ion-color-base: linear-gradient(
          135deg,
          var(--ion-color-dark),
          var(--ion-color-primary)
        ) !important;
      }
    }
  }
}

.mto {
  margin-top: 12px;
  ion-icon {
    margin-bottom: -2px;
  }
}

// lazy load image animation
img.ng-lazyloaded {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
